html, body {
  height: 100%;
}

.navbar {
  background: #b00000;
}

.dropdown {
  float: right;
  margin: 0 10px 0 10px;
  list-style-type: none;
}

.navbar-default .navbar-nav>li>a {
  background: #b00000;
  border: none;
  color: white;
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica";
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: 300;
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
  border-bottom: white 7px solid
}

.navbar-nav {
  float: right !important;
}

.navbar-right {
  margin-top: 15px;
}

a, .carousel-control {
  background-color: none;
}

#text-container {
  border: 1px solid #ddd;
  width: 70%;
  height: 252px;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 30px;
}

.quote {
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica";
  color: #666;
  margin: 50px 73px 0 73px;
  font-size: 1.3em;
  font-style: italic;
  text-align: justify;
  padding-top: 3px;
}

.item > img {
  width: 100%;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.carousel-caption {
  padding-bottom: 80px;
}
.container {
  height: 72px;
}

.navbar-default {
  border: none;
}

.name {
  color: #333;
  float: right;
}

.footer {
  background-color: #ddd;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
