html, body {
  height: 100%;
  background-color: whitesmoke;
  margin: 0 0 0 0;
}

.navbar {
  background: #b00000;
}

.dropdown {
  float: right;
  margin: 0 10px 0 10px;
  list-style-type: none;
}

.navbar-default .navbar-nav>li>a {
  background: #b00000;
  border: none;
  color: white;
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica";
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: 100;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: white;;'o09i'
  background-color: #b00000;
  border-bottom: none;
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
  border-bottom: white 7px solid
}

.navbar-default .navbar-nav>li>a:visited {
  color: white;
}

.navbar-nav {
  float: right !important;
}

.navbar-right {
  margin-top: 31px;
}

a, .carousel-control {
  background-color: none;
}

#text-container {
  border: 1px solid #ddd;
  width: 70%;
  padding: 50px 30px 50px 30px;
  margin: 0 auto;
  margin-top: 70px;
  line-height: 30px;
  background-color: white;
}

.quote {
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica";
  color: #666;
  font-size: 1.3em;
  font-style: italic;
  text-align: justify;
}

.item > img {
  width: 100%;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.carousel-caption {
  padding-bottom: 80px;
}
.container {
  height: 72px;
}

.navbar-default {
  border: none;
}

.name {
  color: #222;
  float: right;
  margin-top: 25px;
}

footer {
  background-color: #43403f;
  width: 100%;
  position: absolute;
  margin: 250px 0 0 0;
  padding: 25px 0 100px 0;
  color: white;
  float: right;
  text-align: center;
}

div.category {
  width: 200px;
  float: right;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0 10px 20px 0;
  display: inline-block;
  text-align: justify;

}

div.heading {
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica";
  font-size: 1.5em;
  font-weight: 300;
}

.footer-container {
  margin-top: 50px;
  margin-right: 23%;
}

.navbar-default .navbar-nav>.open>a{
  background-color: #b00000;
}

.navbar-default .navbar-nav>.open>a:hover {
  color: white;
  background-color: #b00000;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.dropdown-menu>li>a {
  text-transform: uppercase;
  font-weight: 100;
}

.dropdown-menu>li>a:hover {
  color: #b00000;
}

.dropdown-menu>li>a:hover {
  background-color: white;
}

.decoration {
  /*border-bottom: solid 1px #999;*/
  width: 100%;
}

.article-container {
  width: 55%;
  margin: 0 auto;
}

.article-body {
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 1.3em;
  color: #444;
  line-height: 1.7;
  letter-spacing:0.03rem;
  margin: 25px 0 25px 0;
  overflow: visible !important;
}

h2 {
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica";
  font-size: 2.6em;
  font-weight: 700;
  letter-spacing:2px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px #ccc solid;
  width: 60%;
  margin: 0 auto;
}

.info {
  width: 131px;
}

p.article-body {
  white-space: normal;
}

@media (max-width: 930px) {
  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .name {
    display: none;
  }

  .footer-container {
    width: 94%;
  }
}

@media (max-width: 830px) {
  .article-body{
    font-size: 1.2em
  }
}
