html, body {
  height: 100%;
  background-color: whitesmoke;
}

.navbar {
  background: #b00000;
}

.dropdown {
  float: right;
  margin: 0 10px 0 10px;
  list-style-type: none;
}

.navbar-default .navbar-nav>li>a {
  background: #b00000;
  border: none;
  color: white;
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica";
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: 100;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
  border-bottom: white 7px solid
}

.navbar-default .navbar-nav>li>a:visited {
  color: white;
}

.navbar-nav {
  float: right !important;
}

.navbar-right {
  margin-top: 15px;
}

a, .carousel-control {
  background-color: none;
}

#text-container {
  border: 1px solid #ddd;
  width: 70%;
  height: 252px;
  margin: 0 auto;
  margin-top: 70px;
  line-height: 30px;
  background-color: white;
}

.quote {
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica";
  color: #666;
  margin: 50px 73px 0 73px;
  font-size: 1.3em;
  font-style: italic;
  text-align: justify;
  padding-top: 3px;
}

.item > img {
  width: 100%;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.carousel-caption {
  padding-bottom: 80px;
}
.container {
  height: 72px;
}

.navbar-default {
  border: none;
}

.name {
  color: #222;
  float: right;
  margin-top: 35px;
}

footer {
  background-color: #43403f;
  width: 100%;
  position: absolute;
  margin: 250px 0 0 0;
  padding: 25px 0 100px 0;
  color: white;
  float: right;
  text-align: center;
}

div.category {
  width: 200px;
  float: right;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  text-align: justify;

}

div.heading {
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica";
  font-size: 1.5em;
  font-weight: 300;
}

.footer-container {
  margin-top: 50px;
  margin-right: 350px;
}

.navbar-default .navbar-nav>.open>a{
  background-color: #b00000;
}

.navbar-default .navbar-nav>.open>a:hover {
  color: white;
  background-color: #b00000;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.dropdown-menu>li>a {
  text-transform: uppercase;
  font-weight: 100;
}

.dropdown-menu>li>a:hover {
  color: #b00000;
}

.dropdown-menu>li>a:hover {
  background-color: white;
}

.decoration {
  border-bottom: solid 1px #999;
  width: 65%;
  margin: 100px 250px 50px 250px;
  text-align: center;
}

.logo-bottom {
  margin: 10px 10px 15px 10px;
}

@media (max-width: 930px) {
  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 830px) {
  text-container {
    height: 170px;
}
